body[disfigure=true] {
    background-color: darkslateblue;
    /*overflow: hidden;*/
    background-image: url('mario.gif');
    color: aqua
}

body.result-page {
    overflow: hidden;
    margin: 0;
    color: red;
    background-image: url('strange-bg.gif');
}

body.default-result {
    overflow: hidden;
    background-color: white;
}

body.error-message {
    background-color: azure;
}

#result-iframe {
    border: 0;
    margin: 3% 0;
    background-color: black;
    width: 420px;
    height: 320px;
}

#history-iframe {
    border: 0;
    margin-bottom: 3%;
    background-color: black;
    width: 420px;
    height: 160px;
}

.button {
    text-align: center;
    padding: 0px 10px;
    border: 1px solid lightgray;
    background-color: lightgray;
    display: inline-block;
    color: black;
    text-decoration: none;
    font: 110% serif;
}

.button:hover {
    background-color: whitesmoke;
    border: 1px solid aqua;
    display: inline-block;
    color: black;
}