body[disfigure=true] {
    background-color: darkslateblue;
    /*overflow: hidden;*/
    background-image: url('images/mario.gif');
    color: aqua
}

body.result-page {
    overflow: hidden;
    margin: 0;
    color: red;
    background-image: url('images/strange-bg.gif');
}

body.default-result {
    overflow: hidden;
    background-color: white;
}

body.error-message {
    background-color: azure;
}

body.history-page {
    background-image: url('images/strang-bg-2.gif');
    font: bold larger Serif;
    color: aqua;
}

#result-iframe {
    border: 0;
    margin: 3% 0;
    background-color: black;
    width: 420px;
    height: 320px;
}

#history-iframe {
    border: 0;
    margin-bottom: 3%;
    background-color: black;
    width: 420px;
    height: 160px;
}

.button {
    text-align: center;
    padding: 0px 10px;
    border: 1px solid lightgray;
    background-color: lightgray;
    display: inline-block;
    color: black;
    text-decoration: none;
    font: 100% serif;
}

.button:hover {
    background-color: whitesmoke;
    border: 1px solid aqua;
    display: inline-block;
    color: black;
}

#header {
    text-align: left;
    padding-left: 2%;
    background-color: black
}

table.max-size {
    width: 100%;
    height: 100%;
}

table.blacked {
    background-color: black;
}

a.pretty-link {
    color: yellow;
    text-decoration: none;
}

td.side-cell {
    vertical-align: top;
    width: 20%;
    padding-top: 1%;
}

td.center-cell {
    width: 60%;
    padding-bottom: 5%;
    font-size: large;
}

#left-main-container {
    width: 30%;
}

#main-container {
    width: 30%;
}

#right-main-container {
    width: 30%;
}

#main-form {
    text-align: center;
    margin-top: 5%;
}

#x-input {
    text-align: center;
    width: 175px;
    margin-bottom: 5%;
}

#variant-table {
    width: 420px;
    border: 1px aqua solid;
}

#left-button-cell {
    width: 40%;
    text-align: left;
}

#middle-button-cell {
    width: 20%;
    text-align: center;
}

#right-button-cell {
    width: 40%;
    text-align: right;
}

td.to-center-main-cell {
    width: 60%;
    padding: 7% 0;
    text-align: center;
}

td.to-center-side-cell {
    width: 20%;
}

caption.result {
    color: blue;
    font-size: larger;
    background-color: deeppink;
}

span.history {
    background-color: deeppink;
    color: white;
}

span.caption {
    background-color: black;
    font: 130% Serif;
}