table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 12px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    width: 100%;
}

button {
    border-radius: 5px;
    width: 90%;
}



th {
    background: #BCEBDD;
    color: black;
    padding: 5px 10px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
th:first-child, td:first-child {
    text-align: left;
}
th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}
td {
    padding: 5px 10px;
    background: #F8E391;
}
tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
tr td:last-child {
    border-right: none;
}