.block {
    width: 70%;
    text-align: center;
    box-shadow: black 0 5px 10px;
    background-color: black;
    height: auto;
    letter-spacing: 6px;
    font-size: 16px;
    padding: 20px;
    margin-top: 20px;
}
.main-text {
    font-size: 20px;
    font-family: Times, "Times New Roman", serif;
    font-weight: normal;
    clear: both;
}
a {
    text-decoration: none;
    color: #d2738a;
}
body[areYouLoveAnime="true"] {
    background-image: url(../img/bg.gif);
}
* {
    color: #c1b492;
}
#iwannasleep {
    position: fixed;
    bottom: -1px;
    left: -1px;
    width: 242px;
    height: 175px;
    margin-left: -1px;
}
.centered{
    margin-left: auto;
    margin-right: auto;
}
.graphic {
    background-image: url("../img/bg_4.gif");
    width: 305px;
    height: 305px;
    border-radius: 7%;
}
#canvas {
    padding-top: 5px;
}

#xblock, #yblock, #rblock {
    width: min-content;
}

#xblock *, #yblock *, #rblock * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#input-fields {
    display: flex;
}

.no-letter-spacing {
    letter-spacing: 0;
}